@charset "utf-8";

*{ padding: 0; margin: 0;}
li{ list-style: none;}
a{ text-decoration: none;}

.news{
    width: 540px; height: 270px;
    border: 2px solid #333;
    margin: 50px;
    padding: 30px;
    box-sizing: border-box;

    position: relative;
}

.news h3{
    width: 100%; height: 50px;
    font-size: 18px;
}

.news .more{
    position: absolute;
    top: 30px; right: 30px;
}

.news ul{
    width: 100%;
    height: calc(100% - 50px);
}

.news li{
    width: 100%; height: 25%;
    line-height: 39px;
}

.news li a{
    font-size: 14px; color: #333;
    float: left;

    width: 330px; height: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news li a::before{
    content: url(../../images/dot.gif);
    position: relative;
    top: -3px;
    margin-right: 10px;
}

.news .date{
    float: right;
    font-size: 14px; color: #999;
}