@charset "utf-8";

/* base */
*{ 
    padding: 0; margin: 0; 
    font-size: 14px; color: #000;
}
li{ list-style: none; }
a{ text-decoration: none; }


.management{
    width: 1200px; height: 880px;
    margin: 0 auto; /* 블록요소가 부모영역의 가로 가운데 처리 */
    padding: 40px 0; box-sizing: border-box;
}
.management h3{
    width: 100%; height: 140px;
    text-align: center;
}
.management h3 span{
    display: block; /* 수직나열 처리 */
}
.management .eng{
    height: 70px; font-size: 40px; font-weight: bold;
}
.management .kor{
    height: 70px; font-size: 28px; font-weight: normal;
}
.management ul{
    width: 100%; height: 660px;
}
.management li{
    float: left; /* 수평나열 처리 */
    width: 386px; height: 310px;
    margin-right: 21px;
}
.management li:nth-child(3n){ /* 3의 배수번째 여백없앰 */
    margin-right: 0;
}
.management li:nth-child(-n+3){ /* 1~3번째 선택 */
    margin-bottom: 20px;
}
.management a{
    display: block; /* 영역이 들어가게 처리 */
    width: 100%; height: 100%; /* 부모영역전부상속 */
    border: 1px solid #ccc;
    padding: 35px;
    box-sizing: border-box; /* 패딩과 테두리 수치를 영역안으로 인사이드 처리 */

    position: relative; /* 앱솔루트받은 요소의 기준을 현재 요소로 변경 */
}
.management h4{
    width: 100%; height: 30px;
    line-height: 30px; /* 세로가운데 처리 */
    margin-bottom: 20px;
    font-size: 18px; font-weight: bold;

    white-space: nowrap; /* 한줄로 처리 */
    overflow: hidden; /* 보이지않게 처리 */
    text-overflow: ellipsis; /* ... 줄임표시 */
}
.management p{
    width: 100%; height: 75px; /* 3줄 * 25 */
    line-height: 25px; text-align: justify;
    font-size: 16px; color: #666;

    overflow: hidden; /* 넘어간 영역 보이지 않게 처리*/

    display: -webkit-box;
    -webkit-line-clamp: 3; /* 보여줄 줄수 표시 */
    -webkit-box-orient: vertical;
}
.management .date{
    position: absolute; /* 기본기준 : body */
    bottom: 35px; color: #666;
}
.management .date:before{
    content: '';
    display: block; /* 선영역처리 */
    width: 63px; height: 1px;
    background-color: #ccc;

    position: relative; /* 현재 위치에서 상대적 이동 */
    top: -50px;
}


.management span{
    transition: 0.3s; /* CSS변화에 시간차 처리 */
}

/* 버튼과 라인처리 */
.management .gobtn{
    display: block; width: 150px; height: 45px;
    background-color: #062d53;
    color: #fff; font-weight: bold;
    line-height: 45px;
    padding-left: 30px; box-sizing: border-box;
    background-image: url(../images/nice_arrow.gif);
    background-repeat: no-repeat; /* 반복안함 */
    background-position: calc(100% - 20px) center;

    position: absolute;
    right: -10px; bottom: -10px;
    z-index: 100; /* 선들보다 화면 앞쪽으로 처리 */

    display: none; /* 처음엔 안보이게 처리 */
}
.management .tline{
    width: calc(100% + 2px); height: 3px;
    background-color: #062d53;

    position: absolute;
    top: -1px; left: -1px;

    /* 처음엔 안보이게 처리 */
    transform: scaleX(0);
    transform-origin: right center;
}
.management .bline{
    width: calc(100% + 2px); height: 3px;
    background-color: #062d53;

    position: absolute;
    bottom: -1px; left: -1px;

    transform: scaleX(0);
    transform-origin: left center;
}
.management .lline{
    width: 3px; height: calc(100% + 2px);
    background-color: #062d53;

    position: absolute;
    top: -1px; left: -1px;

    transform: scaleY(0);
    transform-origin: center top;
}
.management .rline{
    width: 3px; height: calc(100% + 2px);
    background-color: #062d53;

    position: absolute;
    top: -1px; right: -1px;

    transform: scaleY(0);
    transform-origin: center bottom;
}

/* hover effect */
.management a:hover .gobtn{ display: block; }
.management a:hover .tline, .management a:hover .bline{ transform: scaleX(1); }
.management a:hover .lline, .management a:hover .rline{ transform: scaleY(1); }